<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-05-04-dns.md</key>
			<dict>
				<key>lastModification</key>
				<real>521876505.11174703</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-05-04-dns2.md</key>
			<dict>
				<key>lastModification</key>
				<real>521876505.11124802</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-04-dns3.md</key>
			<dict>
				<key>lastModification</key>
				<real>521876505.11152601</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2017-05-05-dns4.md</key>
			<dict>
				<key>lastModification</key>
				<real>521876505.12350303</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2017-06-01-di1.md</key>
			<dict>
				<key>lastModification</key>
				<real>521876505.11125499</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-02-di2.md</key>
			<dict>
				<key>lastModification</key>
				<real>521876505.11125499</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-02-di3.md</key>
			<dict>
				<key>lastModification</key>
				<real>521876505.111256</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-08-tf1.md</key>
			<dict>
				<key>lastModification</key>
				<real>521876505.11125702</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-09-tf2.md</key>
			<dict>
				<key>lastModification</key>
				<real>521876505.11125702</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-10-tf3.md</key>
			<dict>
				<key>lastModification</key>
				<real>521876505.11125797</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-12-tf3.md</key>
			<dict>
				<key>lastModification</key>
				<real>521876505.11125797</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-08-paper.md</key>
			<dict>
				<key>lastModification</key>
				<real>524011116.79923701</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2017-08-09-obb.md</key>
			<dict>
				<key>lastModification</key>
				<real>524195783.45900202</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-08-10-time.md</key>
			<dict>
				<key>lastModification</key>
				<real>524398057.13923597</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>26</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>524188424.24848402</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-08-10-time.md</string>
		</array>
		<array>
			<string>2017-08-09-obb.md</string>
		</array>
		<array>
			<string>2017-05-04-dns.md</string>
		</array>
		<array>
			<string>2017-08-08-paper.md</string>
		</array>
		<array>
			<string>2017-05-04-dns2.md</string>
		</array>
		<array>
			<string>2017-05-04-dns3.md</string>
		</array>
		<array>
			<string>2017-05-05-dns4.md</string>
		</array>
		<array>
			<string>2017-06-01-di1.md</string>
		</array>
		<array>
			<string>2017-06-02-di2.md</string>
		</array>
		<array>
			<string>2017-06-02-di3.md</string>
		</array>
		<array>
			<string>2017-06-09-tf2.md</string>
		</array>
		<array>
			<string>2017-06-08-tf1.md</string>
		</array>
		<array>
			<string>2017-06-10-tf3.md</string>
		</array>
		<array>
			<string>2017-06-12-tf3.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>27</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
