<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-08-11-intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>525328518.05084598</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-08-12-classification.md</key>
			<dict>
				<key>lastModification</key>
				<real>525328537.50701898</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-08-13-PHYSICAL PROBLEM.md</key>
			<dict>
				<key>lastModification</key>
				<real>525405705.62144899</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>2017-08-15-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525447675.83007401</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>2017-08-16-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525494930.07295197</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>2017-08-17-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525494067.77820802</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>2017-08-18-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525664576.45102102</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>64</integer>
				</dict>
			</dict>
			<key>2017-08-19-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525779458.81934702</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>70</integer>
				</dict>
			</dict>
			<key>2017-08-20-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525779827.61672902</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>74</integer>
				</dict>
			</dict>
			<key>2017-08-21-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525779903.16204703</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>78</integer>
				</dict>
			</dict>
			<key>2017-08-22-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525836007.51500702</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>84</integer>
				</dict>
			</dict>
			<key>2017-08-23-Parabolic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525837311.63294703</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>90</integer>
				</dict>
			</dict>
			<key>2017-09-01-fem.md</key>
			<dict>
				<key>lastModification</key>
				<real>526544979.02086502</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>lastModification</key>
				<real>526954434.98320198</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>103</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-08-11-intro.md</string>
		</array>
		<array>
			<string>2017-08-12-classification.md</string>
		</array>
		<array>
			<string>2017-08-13-PHYSICAL PROBLEM.md</string>
		</array>
		<array>
			<string>2017-08-15-elliptic PDE.md</string>
		</array>
		<array>
			<string>2017-08-16-elliptic PDE.md</string>
		</array>
		<array>
			<string>2017-08-17-elliptic PDE.md</string>
		</array>
		<array>
			<string>2017-08-18-elliptic PDE.md</string>
		</array>
		<array>
			<string>2017-08-19-elliptic PDE.md</string>
		</array>
		<array>
			<string>2017-08-20-elliptic PDE.md</string>
		</array>
		<array>
			<string>2017-08-21-elliptic PDE.md</string>
		</array>
		<array>
			<string>2017-08-22-elliptic PDE.md</string>
		</array>
		<array>
			<string>2017-08-23-Parabolic PDE.md</string>
		</array>
		<array>
			<string>2017-09-01-fem.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>103</integer>
		</dict>
	</dict>
</dict>
</plist>
