<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-08-01-variations.md</key>
			<dict>
				<key>lastModification</key>
				<real>523496616.420322</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-02-variations2.md</key>
			<dict>
				<key>lastModification</key>
				<real>524022988.17248499</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>2017-08-03-variations3.md</key>
			<dict>
				<key>lastModification</key>
				<real>524022997.49718201</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>2017-08-04-variations.md</key>
			<dict>
				<key>lastModification</key>
				<real>524023029.353755</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>23</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-08-01-variations.md</string>
		</array>
		<array>
			<string>2017-08-02-variations2.md</string>
		</array>
		<array>
			<string>2017-08-03-variations3.md</string>
		</array>
		<array>
			<string>2017-08-04-variations.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>24</integer>
		</dict>
	</dict>
</dict>
</plist>
