<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-07-10-intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>524877328.97933698</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2017-07-11-setting.md</key>
			<dict>
				<key>lastModification</key>
				<real>524883078.74631703</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>2017-07-12-connet.md</key>
			<dict>
				<key>lastModification</key>
				<real>524883134.67076802</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>15</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-07-10-intro.md</string>
		</array>
		<array>
			<string>2017-07-11-setting.md</string>
		</array>
		<array>
			<string>2017-07-12-connet.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>16</integer>
		</dict>
	</dict>
</dict>
</plist>
