<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | absolute_url }}"></script><![endif]-->
	<link rel="stylesheet" href="/assets/css/main_new.css">
	<link rel="stylesheet" href="/assets/css/syntax.css">
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | absolute_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | absolute_url }}" /><![endif]-->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script>
	MathJax = {
		options: {
			// processHtmlClass: 'math-tex',
			// ignoreHtmlClass: '.*',
			renderActions: {
				/* add a new named action not to override the original 'find' action */
				find_script_mathtex: [10, function (doc) {
					for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
					const display = !!node.type.match(/; *mode=display/);
					const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
					const text = document.createTextNode('');
					node.parentNode.replaceChild(text, node);
					math.start = {node: text, delim: '', n: 0};
					math.end = {node: text, delim: '', n: 0};
					doc.math.push(math);
					}
				}, '']
			}
		},
		tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
	};
	</script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>
