<section id="one" class="tiles">
        
        {% assign pages = site.pages | sort: "name" %}

        {% for page in pages limit:8 %}
        {% if page.nav-menu == true %}
            <article>
                    <span class="image">
                            <img src="{{ page.image }}" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
                        <p>{{ page.description }}</p>
                    </header>
            </article>
        {% endif %}
        {% endfor %}

</section>
