*{
    margin:0;
    padding:0;
}
ul{
    list-style-type: none;
}
body{
    font-family: "微软雅黑";
    color:#14191e;
}
.main{
    width:1200px;
    height:460px;
    margin:30px auto;
    overflow: hidden;
    background-color: red;
    position:relative;
}
.banner{
    width:1200px;
    height:460px;
    overflow: hidden;
    position: relative;
}
.banner-slide{
    width:1200px;
    height:460px;
    background-repeat: no-repeat;
    position: absolute;
    display:none;
}
.slide-active{
    display:block;
}
.slide1{
    background-image: url("img/bg1.jpg");
}
.slide2{
    background-image: url("img/bg2.jpg");
}
.slide3{
    background-image: url("img/bg3.jpg");
}
.button{
    position: absolute;
    width:40px;
    height:80px;
    left:255px;
    top:50%;
    margin-top:-40px;
    background:url(img/arrow.png) no-repeat center center;
}
.button:hover{
    background-color: #333;
    opacity: 0.8;
}
.prev{
    transform: rotate(180deg);
}
.next{
    left:auto;
    right:0;
}
.dots{
    position: absolute;
    right:50%;
    bottom:24px;
    text-align: right;
}
.dots span{
    display: inline-block;
    width:12px;
    height:12px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
.dots span.active{
    background-color: #333;
}