<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-03-31-intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>523132907.39551997</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-01-c1.md</key>
			<dict>
				<key>lastModification</key>
				<real>523132907.39552099</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-01-c2.md</key>
			<dict>
				<key>lastModification</key>
				<real>523132907.39552099</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-01-c3 - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>523132939.69060498</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2017-04-01-c3.md</key>
			<dict>
				<key>lastModification</key>
				<real>523132907.395522</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-01-c4.md</key>
			<dict>
				<key>lastModification</key>
				<real>523132907.395522</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-01-c5.md</key>
			<dict>
				<key>lastModification</key>
				<real>523132907.39552301</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-01-c0.md</key>
			<dict>
				<key>lastModification</key>
				<real>523132907.39552301</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-03-31-intro.md</string>
		</array>
		<array>
			<string>2017-04-01-c1.md</string>
		</array>
		<array>
			<string>2017-04-01-c2.md</string>
		</array>
		<array>
			<string>2017-04-01-c3.md</string>
		</array>
		<array>
			<string>2017-04-01-c3 - 2.md</string>
		</array>
		<array>
			<string>2017-04-01-c4.md</string>
		</array>
		<array>
			<string>2017-04-01-c5.md</string>
		</array>
		<array>
			<string>2017-05-01-c0.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
