<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-01-19-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>513973795.77417397</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>169</integer>
				</dict>
			</dict>
			<key>2017-01-20-intro1.md</key>
			<dict>
				<key>lastModification</key>
				<real>513973786.03416902</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>167</integer>
				</dict>
			</dict>
			<key>2017-01-20-intro2.md</key>
			<dict>
				<key>lastModification</key>
				<real>517600748.92210197</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>295</integer>
				</dict>
			</dict>
			<key>2017-01-21-exp1.md</key>
			<dict>
				<key>lastModification</key>
				<real>513973673.29639697</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>159</integer>
				</dict>
			</dict>
			<key>2017-01-22-exp2.md</key>
			<dict>
				<key>lastModification</key>
				<real>513973682.63506401</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>161</integer>
				</dict>
			</dict>
			<key>2017-01-23-exp3.md</key>
			<dict>
				<key>lastModification</key>
				<real>513973688.765387</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>163</integer>
				</dict>
			</dict>
			<key>2017-01-24-exp4.md</key>
			<dict>
				<key>lastModification</key>
				<real>517607742.29742801</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>301</integer>
				</dict>
			</dict>
			<key>2017-01-25-exp5.md</key>
			<dict>
				<key>lastModification</key>
				<real>517619580.146451</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>305</integer>
				</dict>
			</dict>
			<key>2017-01-26-exp6.md</key>
			<dict>
				<key>lastModification</key>
				<real>517619794.596928</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>309</integer>
				</dict>
			</dict>
			<key>2017-01-27-exp7.md</key>
			<dict>
				<key>lastModification</key>
				<real>517619940.72874802</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>317</integer>
				</dict>
			</dict>
			<key>2017-02-01-book1.md</key>
			<dict>
				<key>lastModification</key>
				<real>508619533.66689301</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>2017-02-02-book2.md</key>
			<dict>
				<key>lastModification</key>
				<real>508619726.06325102</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>2017-02-03-book3.md</key>
			<dict>
				<key>lastModification</key>
				<real>513973119.95932001</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>153</integer>
				</dict>
			</dict>
			<key>2017-02-04-book4.md</key>
			<dict>
				<key>lastModification</key>
				<real>513973303.77620399</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>157</integer>
				</dict>
			</dict>
			<key>2017-02-05-book5.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974186.77539903</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>173</integer>
				</dict>
			</dict>
			<key>2017-02-06-book6.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974288.826967</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>177</integer>
				</dict>
			</dict>
			<key>2017-02-07-book7.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974333.46059197</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>181</integer>
				</dict>
			</dict>
			<key>2017-02-10-intro2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515869067.90626597</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>251</integer>
				</dict>
			</dict>
			<key>2017-02-11-intro2.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974476.12657797</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>183</integer>
				</dict>
			</dict>
			<key>2017-02-12-intro3.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974484.12885398</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>185</integer>
				</dict>
			</dict>
			<key>2017-02-13-intro4.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974564.33485597</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>191</integer>
				</dict>
			</dict>
			<key>2017-02-14-intro5.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974549.24862897</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>189</integer>
				</dict>
			</dict>
			<key>2017-03-21-f1.md</key>
			<dict>
				<key>lastModification</key>
				<real>511836573.27542698</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>79</integer>
				</dict>
			</dict>
			<key>2017-03-22-f2.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974581.98045403</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>193</integer>
				</dict>
			</dict>
			<key>2017-03-23-f3.md</key>
			<dict>
				<key>lastModification</key>
				<real>512017326.03241497</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>120</integer>
				</dict>
			</dict>
			<key>2017-03-23-f4.md</key>
			<dict>
				<key>lastModification</key>
				<real>516073855.63919997</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>261</integer>
				</dict>
			</dict>
			<key>2017-03-23-f5.md</key>
			<dict>
				<key>lastModification</key>
				<real>516073858.259956</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>262</integer>
				</dict>
			</dict>
			<key>2017-03-23-f6.md</key>
			<dict>
				<key>lastModification</key>
				<real>516073862.775056</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>263</integer>
				</dict>
			</dict>
			<key>2017-03-23-f7.md</key>
			<dict>
				<key>lastModification</key>
				<real>512411907.75996798</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>142</integer>
				</dict>
			</dict>
			<key>2017-03-23-f8.md</key>
			<dict>
				<key>lastModification</key>
				<real>512437916.881244</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>148</integer>
				</dict>
			</dict>
			<key>2017-03-24-intro6.md</key>
			<dict>
				<key>lastModification</key>
				<real>515774063.75783598</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>235</integer>
				</dict>
			</dict>
			<key>2017-03-25-intro7.md</key>
			<dict>
				<key>lastModification</key>
				<real>516071602.735618</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>257</integer>
				</dict>
			</dict>
			<key>2017-03-26-intro8.md</key>
			<dict>
				<key>lastModification</key>
				<real>516071636.61391997</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>259</integer>
				</dict>
			</dict>
			<key>2017-03-31-intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>517979133.896541</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>330</integer>
				</dict>
			</dict>
			<key>2017-04-01-c1.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974625.04109901</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>197</integer>
				</dict>
			</dict>
			<key>2017-04-01-c2.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974699.22289801</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>201</integer>
				</dict>
			</dict>
			<key>2017-04-01-c3.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974726.80602503</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>205</integer>
				</dict>
			</dict>
			<key>2017-04-01-c4.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974761.09389102</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>209</integer>
				</dict>
			</dict>
			<key>2017-04-01-c5.md</key>
			<dict>
				<key>lastModification</key>
				<real>513974784.10499001</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>213</integer>
				</dict>
			</dict>
			<key>2017-05-01-c0.md</key>
			<dict>
				<key>lastModification</key>
				<real>515389143.90483803</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>217</integer>
				</dict>
			</dict>
			<key>2017-05-04-dns.md</key>
			<dict>
				<key>lastModification</key>
				<real>515637789.57461798</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>223</integer>
				</dict>
			</dict>
			<key>2017-05-04-dns2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515789578.382397</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>241</integer>
				</dict>
			</dict>
			<key>2017-05-04-dns3.md</key>
			<dict>
				<key>lastModification</key>
				<real>515810350.23470598</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>245</integer>
				</dict>
			</dict>
			<key>2017-05-05-dns4.md</key>
			<dict>
				<key>lastModification</key>
				<real>516912162.62507701</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>267</integer>
				</dict>
			</dict>
			<key>2017-05-23-intro9.md</key>
			<dict>
				<key>lastModification</key>
				<real>517240425.73183697</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>273</integer>
				</dict>
			</dict>
			<key>2017-05-24-intro10.md</key>
			<dict>
				<key>lastModification</key>
				<real>517275770.28155798</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>277</integer>
				</dict>
			</dict>
			<key>2017-05-24-intro11.md</key>
			<dict>
				<key>lastModification</key>
				<real>517591519.40406197</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>285</integer>
				</dict>
			</dict>
			<key>2017-05-24-intro12.md</key>
			<dict>
				<key>lastModification</key>
				<real>518673092.23525298</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>371</integer>
				</dict>
			</dict>
			<key>2017-06-01-di1.md</key>
			<dict>
				<key>lastModification</key>
				<real>518199747.957335</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>341</integer>
				</dict>
			</dict>
			<key>2017-06-02-di2.md</key>
			<dict>
				<key>lastModification</key>
				<real>518582973.38652498</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>347</integer>
				</dict>
			</dict>
			<key>2017-06-02-di3.md</key>
			<dict>
				<key>lastModification</key>
				<real>518583396.90307897</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>351</integer>
				</dict>
			</dict>
			<key>2017-06-05-PF.md</key>
			<dict>
				<key>lastModification</key>
				<real>518745029.30532998</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>381</integer>
				</dict>
			</dict>
			<key>2017-06-06-intro13.md</key>
			<dict>
				<key>lastModification</key>
				<real>518673156.67730403</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>373</integer>
				</dict>
			</dict>
			<key>2017-06-07-intro14.md</key>
			<dict>
				<key>lastModification</key>
				<real>519516778.46667397</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>391</integer>
				</dict>
			</dict>
			<key>2017-06-08-tf1.md</key>
			<dict>
				<key>lastModification</key>
				<real>519526257.95295399</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>405</integer>
				</dict>
			</dict>
			<key>2017-06-09-tf2.md</key>
			<dict>
				<key>lastModification</key>
				<real>519526267.41516203</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>407</integer>
				</dict>
			</dict>
			<key>2017-06-10-tf3.md</key>
			<dict>
				<key>lastModification</key>
				<real>519526311.92474997</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>411</integer>
				</dict>
			</dict>
			<key>2017-06-12-tf3.md</key>
			<dict>
				<key>lastModification</key>
				<real>519538227.43427497</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>415</integer>
				</dict>
			</dict>
			<key>2017-06-19-fe0.md</key>
			<dict>
				<key>lastModification</key>
				<real>521058279.48660201</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>437</integer>
				</dict>
			</dict>
			<key>2017-06-20-fe1.md</key>
			<dict>
				<key>lastModification</key>
				<real>520386359.73220801</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>421</integer>
				</dict>
			</dict>
			<key>2017-06-21-fe2.md</key>
			<dict>
				<key>lastModification</key>
				<real>521059100.80835801</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>443</integer>
				</dict>
			</dict>
			<key>2017-06-22-fe3.md</key>
			<dict>
				<key>lastModification</key>
				<real>521059139.63814598</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>447</integer>
				</dict>
			</dict>
			<key>2017-06-23-fe4.md</key>
			<dict>
				<key>lastModification</key>
				<real>521062571.10752499</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>451</integer>
				</dict>
			</dict>
			<key>fenics.md</key>
			<dict>
				<key>lastModification</key>
				<real>520717742.60505801</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>425</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>512017041.986359</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-06-23-fe4.md</string>
		</array>
		<array>
			<string>2017-06-22-fe3.md</string>
		</array>
		<array>
			<string>2017-06-19-fe0.md</string>
		</array>
		<array>
			<string>2017-06-21-fe2.md</string>
		</array>
		<array>
			<string>fenics.md</string>
		</array>
		<array>
			<string>2017-06-20-fe1.md</string>
		</array>
		<array>
			<string>2017-06-12-tf3.md</string>
		</array>
		<array>
			<string>2017-06-10-tf3.md</string>
		</array>
		<array>
			<string>2017-06-08-tf1.md</string>
		</array>
		<array>
			<string>2017-06-09-tf2.md</string>
		</array>
		<array>
			<string>2017-06-07-intro14.md</string>
		</array>
		<array>
			<string>2017-06-05-PF.md</string>
		</array>
		<array>
			<string>2017-06-06-intro13.md</string>
		</array>
		<array>
			<string>2017-05-24-intro12.md</string>
		</array>
		<array>
			<string>2017-06-02-di3.md</string>
		</array>
		<array>
			<string>2017-06-02-di2.md</string>
		</array>
		<array>
			<string>2017-06-01-di1.md</string>
		</array>
		<array>
			<string>2017-03-31-intro.md</string>
		</array>
		<array>
			<string>2017-01-27-exp7.md</string>
		</array>
		<array>
			<string>2017-01-26-exp6.md</string>
		</array>
		<array>
			<string>2017-01-25-exp5.md</string>
		</array>
		<array>
			<string>2017-01-24-exp4.md</string>
		</array>
		<array>
			<string>2017-01-20-intro2.md</string>
		</array>
		<array>
			<string>2017-05-24-intro11.md</string>
		</array>
		<array>
			<string>2017-05-24-intro10.md</string>
		</array>
		<array>
			<string>2017-05-23-intro9.md</string>
		</array>
		<array>
			<string>2017-05-05-dns4.md</string>
		</array>
		<array>
			<string>2017-03-25-intro7.md</string>
		</array>
		<array>
			<string>2017-03-26-intro8.md</string>
		</array>
		<array>
			<string>2017-02-10-intro2.md</string>
		</array>
		<array>
			<string>2017-05-04-dns3.md</string>
		</array>
		<array>
			<string>2017-05-04-dns2.md</string>
		</array>
		<array>
			<string>2017-03-24-intro6.md</string>
		</array>
		<array>
			<string>2017-05-04-dns.md</string>
		</array>
		<array>
			<string>2017-05-01-c0.md</string>
		</array>
		<array>
			<string>2017-04-01-c5.md</string>
		</array>
		<array>
			<string>2017-04-01-c4.md</string>
		</array>
		<array>
			<string>2017-04-01-c3.md</string>
		</array>
		<array>
			<string>2017-04-01-c2.md</string>
		</array>
		<array>
			<string>2017-04-01-c1.md</string>
		</array>
		<array>
			<string>2017-02-07-book7.md</string>
		</array>
		<array>
			<string>2017-02-06-book6.md</string>
		</array>
		<array>
			<string>2017-02-05-book5.md</string>
		</array>
		<array>
			<string>2017-02-04-book4.md</string>
		</array>
		<array>
			<string>2017-02-03-book3.md</string>
		</array>
		<array>
			<string>2017-03-23-f8.md</string>
		</array>
		<array>
			<string>2017-03-23-f6.md</string>
		</array>
		<array>
			<string>2017-03-23-f7.md</string>
		</array>
		<array>
			<string>2017-02-14-intro5.md</string>
		</array>
		<array>
			<string>2017-03-21-f1.md</string>
		</array>
		<array>
			<string>2017-03-22-f2.md</string>
		</array>
		<array>
			<string>2017-03-23-f5.md</string>
		</array>
		<array>
			<string>2017-03-23-f4.md</string>
		</array>
		<array>
			<string>2017-03-23-f3.md</string>
		</array>
		<array>
			<string>2017-02-13-intro4.md</string>
		</array>
		<array>
			<string>2017-01-19-summary.md</string>
		</array>
		<array>
			<string>2017-01-21-exp1.md</string>
		</array>
		<array>
			<string>2017-01-20-intro1.md</string>
		</array>
		<array>
			<string>2017-01-22-exp2.md</string>
		</array>
		<array>
			<string>2017-01-23-exp3.md</string>
		</array>
		<array>
			<string>2017-02-11-intro2.md</string>
		</array>
		<array>
			<string>2017-02-12-intro3.md</string>
		</array>
		<array>
			<string>2017-02-01-book1.md</string>
		</array>
		<array>
			<string>2017-02-02-book2.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>452</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
