<!DOCTYPE html>

<html>

{% include head_new.html %}

<body>

{% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
<!-- title -->
			<h1>{{ page.title }}</h1>
<!-- 日期 -->		
		{% if page.date %}
		{{ page.date | date: "%Y" }}-{{ page.date | date: "%m" }}-{{ page.date | date: "%d" }}
		{% endif %}
		</header>
<!-- description -->	
		<h5>{{ page.description }}</h5>
<!-- 图片 -->		
		<!-- 
		{% if page.image %}
		<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>
		{% endif %} -->
<!-- 正文 -->
		<p>{{ content }}</p>
	</div>

</section>
</div>


<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.weibo_url %}
				<li><a href="{{ site.weibo_url }}" class="icon alt fa-weibo" target="_blank"><span class="label">weibo</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.video_url %}
				<li><a href="{{ site.video_url }}" class="icon alt fa-video-camera" target="_blank"><span class="label">video</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} </li>
				<li> {{ site.subtitle }}</li>
				<li>Designed by: <a href="https://liuxin.in/about/" target="_blank">刘鑫</a></li>

			</ul>
		</div>
	</footer>

	

</body>

</html>