<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    
        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>调查问卷</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="http://liuxin.in" class="button next">刘鑫的主页</a></li>
                </ul>
            </div>
        </section>


    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}



    </div>

    {% include footer.html %}

</body>

</html>
