<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-05-01-mns0.md</key>
			<dict>
				<key>lastModification</key>
				<real>511457974.25369197</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-01-mns1.md</key>
			<dict>
				<key>lastModification</key>
				<real>511457974.25369698</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-01-mns2.md</key>
			<dict>
				<key>lastModification</key>
				<real>511457974.25369602</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-01-mns3.md</key>
			<dict>
				<key>lastModification</key>
				<real>511457974.25369602</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-13-mns4.md</key>
			<dict>
				<key>lastModification</key>
				<real>511457974.25369501</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-13-mns5.md</key>
			<dict>
				<key>lastModification</key>
				<real>511457974.25369501</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-01-mns102.md</key>
			<dict>
				<key>lastModification</key>
				<real>511457974.253694</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-17-phy3351.md</key>
			<dict>
				<key>lastModification</key>
				<real>511458214.26578999</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>2017-03-18-phy3352.md</key>
			<dict>
				<key>lastModification</key>
				<real>512272791.96810102</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>2017-03-20-phy3353.md</key>
			<dict>
				<key>lastModification</key>
				<real>512272944.57711601</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>2017-03-26-phy3354.md</key>
			<dict>
				<key>lastModification</key>
				<real>512272929.03323501</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>21</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-05-01-mns0.md</string>
		</array>
		<array>
			<string>2017-03-17-phy3351.md</string>
		</array>
		<array>
			<string>2017-03-18-phy3352.md</string>
		</array>
		<array>
			<string>2017-03-20-phy3353.md</string>
		</array>
		<array>
			<string>2017-03-26-phy3354.md</string>
		</array>
		<array>
			<string>2016-06-01-mns102.md</string>
		</array>
		<array>
			<string>2016-05-13-mns5.md</string>
		</array>
		<array>
			<string>2016-05-13-mns4.md</string>
		</array>
		<array>
			<string>2016-05-01-mns3.md</string>
		</array>
		<array>
			<string>2016-05-01-mns2.md</string>
		</array>
		<array>
			<string>2016-05-01-mns1.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>26</integer>
		</dict>
	</dict>
</dict>
</plist>
