<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-10-24-party.md</key>
			<dict>
				<key>lastModification</key>
				<real>506974332.90571898</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-10-cook.md</key>
			<dict>
				<key>lastModification</key>
				<real>506974332.90572101</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-11-drive.md</key>
			<dict>
				<key>lastModification</key>
				<real>506974332.90572</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-27-van.md</key>
			<dict>
				<key>lastModification</key>
				<real>506974332.90572</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-01-新年计划.md</key>
			<dict>
				<key>lastModification</key>
				<real>507113747.20500201</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2017-01-20-summary.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>506977185.98919201</real>
				<key>lastModification</key>
				<real>506977185.98919201</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-10-24-party.md</string>
		</array>
		<array>
			<string>2016-11-11-drive.md</string>
		</array>
		<array>
			<string>2016-12-27-van.md</string>
		</array>
		<array>
			<string>2016-11-10-cook.md</string>
		</array>
		<array>
			<string>2017-01-01-新年计划.md</string>
		</array>
		<array>
			<string>2017-01-20-summary.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>9</integer>
		</dict>
	</dict>
</dict>
</plist>
